gateway/zeroconf
gateway/db
gateway/iot-go-gateway-linux-amd64
client/x86/client
*/config.yaml
*/*/config.yaml
build
client/esp8266/8266-controller/doc
client/esp8266/8266-controller/8266-controller-backups
